version: '3.8'

# Order 모듈
# 주문, 결제 관리

services:
  baro-order:
    image: ${DOCKER_REGISTRY:-ghcr.io/do-develop-space}/baro-order:${IMAGE_TAG:-latest}
    container_name: baro-order
    ports:
      - "8087:8087"
    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka:8761/eureka/
      - SPRING_KAFKA_BOOTSTRAP_SERVERS=kafka:9092
    restart: unless-stopped
    networks:
      - baro-network

networks:
  baro-network:
    external: true

