apiVersion: v1
kind: Service
metadata:
  name: eureka
  namespace: baro-prod
  labels:
    app: eureka
    component: cloud
spec:
  type: ClusterIP
  ports:
    - port: 8761
      targetPort: 8761
      protocol: TCP
      name: http
  selector:
    app: eureka

