apiVersion: v1
kind: Service
metadata:
  name: config
  namespace: baro-prod
  labels:
    app: config
    component: cloud
spec:
  type: ClusterIP
  ports:
    - port: 8888
      targetPort: 8888
      protocol: TCP
      name: http
  selector:
    app: config

